@model FeedHope.Models.AlimentoModel

@{
    ViewData["Title"] = "Detalhes do Alimento";
}

<h2>Detalhes do Alimento</h2>

<dl class="row">
    <dt class="col-sm-2">Tipo</dt>
    <dd class="col-sm-10">@Model.Tipo</dd>

    <dt class="col-sm-2">Quantidade</dt>
    <dd class="col-sm-10">@Model.Quantidade</dd>

    <dt class="col-sm-2">Validade</dt>
    <dd class="col-sm-10">@Model.Validade.ToShortDateString()</dd>

    <dt class="col-sm-2">Empresa</dt>
    <dd class="col-sm-10">@Model.Empresa?.Nome</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
